<div id="branch-main-content" class="container">
  <div class="row">
    <h1 class="page-title"><%= page_title %></h1>
    <%= render 'posts/branch/create_new_post', branch: branch %>
  </div><!-- row -->

  <h2 class="page-title">Categories</h2>
  <div id="categories" class="categories-list">
    <ul> 
      <% @categories.each do |category| %>
        <li class="category-item">
          <%= link_to category.name, category_posts_path(category) %>
        </li>
      <% end %>
    </ul> 
  </div>
  
  <div class="row">
  <%= render  'posts/branch/search_form', 
              branch: branch,
              search_placeholder: search_placeholder %>
</div><!-- row -->

  <div class="row">
  <div class="col-sm-12" id="feed">
    <% if @posts.present? %>  <!-- Ελέγχουμε αν υπάρχουν posts -->
      <div class="posts-list">
        <% @posts.each do |post| %>
          <div class="single-post-list">
            <%= render post %>
          </div>
        <% end %>
      </div>
    <% else %>  
      <%= render no_posts_partial_path %>  <!-- Εμφανίζουμε το μήνυμα αν δεν υπάρχουν posts -->
    <% end %>
  </div>
</div><!-- row -->
</div><!-- container -->