<%= render 'posts/modal' %>
<p style="color: green"><%= notice %></p>

<h2>Categories</h2>
<div id="categories">
  <ul> 
    <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_posts_path(category) %>
      </li>
    <% end %>
  </ul> <!-- Κλείσιμο του <ul> -->
</div>



<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
